* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

.workout-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.workout-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.btn-break button {
    border: 2px solid gray;
    border-radius: 50%;
    padding: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.btn-break button:hover {
    background-color: orange;
}

.exercise-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.break-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    padding: 20px;
    border-radius: 10px;
}

.btn-activity {
    margin: 10px 0;
    background-color: orange;
    padding: 20px;
    width: 250px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

.workout-info {
    background: aquamarine;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px #000;
}

.btn-break {
    background-color: #ededed;
    padding: 5px 0;
    margin-bottom: 10px;
}

.workout-info h2 {
    margin-top: 15px;
    padding-bottom: 5px;
}

.person img {
    clip-path: circle();
    margin: 10px 0;
}

@media screen and (max-width: 992px) {

    .workout-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .workout-info {
        margin: 0 20px;
    }
}