.header {
    background-color: #1C2B35;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
}

.header a {
    color: #FFFFFF;
    padding-left: 20px;
    text-decoration: none;
}

.header a:hover {
    color: orange;
}